.center {
    text-align: center;
}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {

    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 45px 45px 50px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    height: 35px;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
}

.form button {
    font-family: "Microsoft YaHei","Roboto", sans-serif;
    outline: 0;
    background: orange;
    width: 100%;
    height: 35px;
    border: 0;
    padding: 9px 15px 15px 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

.form button:hover,.form button:active,.form button:focus {
    background: orange;
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

body {
    background:url(../images/back.jpg) 0px 0px;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

